html, body
{
  height: 100%;
  margin: 0;
  width: 100%;
}

#artwork
{
  float: left;
  height: 95%;
  width: 50%;
}

#critique
{
  float: right;
  height: 95%;
  width: 50%;
}

#critique-message
{
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
  margin: 20% auto 0;
  width: 50%;
}
